<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>
<body>
     <div class="container">
         <aside>
            <div class="top">
                <div class="logo">
                    <img src="{{ url_for('static', filename='school-logo.JPG') }}"
                     alt="no Profile" class="">
                    <h2>DeraJ<span>&trade;</span></h2>
                </div>
                <div class="close" id="close-btn">
                   <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">sms</span>
                    <h3>Notifications </h3><span class="message-count">4</span>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analytics</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">report_gmailerrorred</span>
                    <h3>Remedial</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Logout</h3>
                </a>
            </div>
         </aside>
         <!----------------- END OF ASIDE ----------------->
         <main>
             <h1 class="danger h pl">NYABONDO</h1>
             <h3 class="pl">ST.PHILIP'S NYABONDO SEC. SCHOOL</h3>
             <div class="date">
                 <input type="date">
             </div>

             <div class="insights">
                 <div class="sales">
                    <span class="material-icons-sharp">insights</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Sales</h3>
                            <h1>$25,552</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>83%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                 </div>
                 <!----------------- END OF SALES ------------------>
                 <div class="expenses">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Expenses</h3>
                            <h1>$25,552</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>56%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                 </div>
                 <!----------------- END OF EXPENSES ------------------>
                 <div class="income">
                    <span class="material-icons-sharp">insights</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Income</h3>
                            <h1>$125,552</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>87%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                 </div>
                 <!----------------- END OF INCOME ------------------>
             </div>
            <!----------------- END OF INSIGHTS ------------------>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Number</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>578232</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>578232</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>Foldable Mini Drone</td>
                            <td>578232</td>
                            <td>Due</td>
                            <td class="warning">Pending</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show all</a>
            </div>
         </main>
         <!----------------- END OF MAIN ------------------>
         <div class="right">
             <div class="top">
                 <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                 </button>
                 <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                 </div>
                 <div class="profile">
                     <div class="info">
                         <p>Welcome, <b>Oyaro</b></p>
                         <small class="text-muted">Teacher</small>
                     </div>
                     <div class="profile-photo">
                        <img src="{{ url_for('static', filename='profile.JFIF') }}">
                     </div>
                 </div>
             </div>
             <!-- -------------END OF TOP---------- -->
             <div class="recent-updates">
                 <h2>Recent Updates</h2>
                 <div class="updates">
                      <div class="update">
                          <p><b>Mike Tyson</b> received his order today.</p>
                          <small class="text-muted">2 minutes ago.</small>
                      </div>
                      <div class="update">
                        <p><b>Oyaro Jared</b> received his order yesterday.</p>
                        <small class="text-muted">26 hours ago.</small>
                    </div>
                    <div class="update">
                        <p><b>Mike Tyson</b> received his order today.</p>
                        <small class="text-muted">2 minutes ago.</small>
                    </div>
                 </div>
             </div>
         </div>
     </div>  
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>